<div class="module-header bg-info text-white py-4">
  <div class="container">
    <h1>
      <fa-icon [icon]="['fas', 'microscope']" class="me-2"></fa-icon>
      Citizen Science
    </h1>
    <p class="lead mb-0">
      Monitor water quality and quantity to earn rewards for verified data
    </p>
  </div>
</div>
<div class="container py-4">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item" *ngFor="let tab of tabs; let i = index">
      <button
        class="nav-link"
        [class.active]="activeTab === i"
        (click)="setActiveTab(i)"
      >
        <fa-icon [icon]="tab.icon" class="me-2"></fa-icon>
        {{ tab.label }}
      </button>
    </li>
  </ul>
  <div class="sensors-tab">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h5 class="mb-0">Your Sensors</h5>
            <button class="btn btn-primary" (click)="setRegisterNewSensor()">
              <i class="bi bi-plus-circle me-1"></i> Register New Sensor
            </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="projectid">ID</th>
                    <th class="type">Type</th>
                    <th class="expandable">Model</th>
                    <th class="expandable">Location</th>
                    <th class="date">Registration Date</th>
                    <th class="centered status">Status</th>
                    <th class="actions">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sensor of sensors; let i = index">
                    <td [title]="sensor.id" class="aligned">{{ sensor.id }}</td>
                    <td [title]="sensor.type" class="aligned">
                      {{ sensor.type }}
                    </td>
                    <td [title]="sensor.model" class="aligned">
                      {{ truncate(sensor.model) }}
                    </td>
                    <td
                      [title]="sensor.location ? sensor.location.description : ''"
                      class="aligned"
                    >
                      {{ truncate(sensor.location ? sensor.location.description
                      : '-') }}
                    </td>
                    <td class="aligned">{{ sensor.created_at | date }}</td>
                    <td class="centered">
                      <span
                        class="badge"
                        [ngClass]="{
        'bg-success': sensor.status === 'active',
        'bg-secondary': sensor.status === 'inactive',
        'bg-warning': sensor.status === 'proposed'
      }"
                      >
                        {{ sensor.status }}
                      </span>
                    </td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button
                          class="btn btn-outline-primary"
                          (click)="setView(sensor)"
                        >
                          View
                        </button>
                        <button
                          class="btn btn-outline-success"
                          (click)="setSubmitData(sensor)"
                          [disabled]="sensor.status !== 'active'"
                        >
                          Submit&nbsp;Data
                        </button>
                        <button
                          class="btn btn-outline-secondary btn-toggle-size"
                          *ngIf="sensor.status !== 'active'"
                          (click)="activate(sensor)"
                        >
                          Activate
                        </button>
                        <button
                          class="btn btn-outline-secondary btn-toggle-size"
                          *ngIf="sensor.status === 'active'"
                          (click)="deactivate(sensor)"
                        >
                          Deactivate
                        </button>
                        <button
                          class="btn btn-outline-dark"
                          (click)="deleteSensor(sensor)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0" [ngSwitch]="mode">
              <span *ngSwitchCase="'register'">Register New Sensor</span>
              <span *ngSwitchCase="'submit'"
                >Submit&nbsp;Data for sensor {{selectedSensor?.id}}</span
              >
              <span *ngSwitchCase="'view'"
                >View Data for sensor {{selectedSensor?.id}}</span
              >
              <span *ngSwitchDefault></span>
            </h5>
          </div>
          <div class="card-body" *ngIf="mode === 'view'">
            <span class="me-3"
              ><strong>Type:</strong> {{ selectedSensor?.type }}</span
            >
            <span class="me-3"
              ><strong>Model:</strong> {{ selectedSensor?.model }}</span
            >
            <span class="me-3">
              <strong>Location:</strong>
              Lat: {{ selectedSensor?.location?.lat }}, Lng: {{
              selectedSensor?.location?.lng }}
            </span>
            <span class="me-3">
              <strong>Description:</strong> {{
              selectedSensor?.location?.description }}
            </span>
            <span class="me-3"
              ><strong>Status:</strong> {{ selectedSensor?.status }}</span
            >
            <span class="me-3"
              ><strong>Owner:</strong> {{ selectedSensor?.owner }}</span
            >
            <span class="me-3">
              <strong>Created:</strong> {{ selectedSensor?.created_at | date:
              'short' }}
            </span>
          </div>
          <div class="card-body" *ngIf="mode !== 'view'">
            <form
              [formGroup]="sensorForm"
              (ngSubmit)="onRegisterSensor()"
              *ngIf="mode === 'register'"
            >
              <div class="mb-3">
                <label for="sensorType" class="form-label">Sensor Type</label
                ><select
                  class="form-select"
                  id="sensorType"
                  formControlName="type"
                  required
                >
                  >
                  <option value="">Select sensor type</option>
                  <option value="Water Quality">Water Quality</option>
                  <option value="Water Quantity">Water Quantity</option>
                  <option value="Water Pressure">Water Pressure</option>
                  <option value="Water Temperature">Water Temperature</option>
                  <option value="Water PH">Water pH</option>
                  <option value="Water Turbidity">Water Turbidity</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="sensorModel" class="form-label">Sensor Model</label
                ><input
                  type="text"
                  class="form-control"
                  id="sensorModel"
                  formControlName="model"
                />
              </div>
              <div class="mb-3">
                <label for="locationLatitude" class="form-label"
                  >Location Latitude</label
                ><input
                  type="text"
                  class="form-control"
                  id="locationLatitude"
                  placeholder="e.g. 40.7128"
                  formControlName="latitude"
                />
              </div>
              <div class="mb-3">
                <label for="locationLongitude" class="form-label"
                  >Location Longitude</label
                ><input
                  type="text"
                  class="form-control"
                  id="locationLongitude"
                  placeholder="e.g. -74.0060"
                  formControlName="longitude"
                />
              </div>
              <div class="mb-3">
                <label for="locationDescription" class="form-label"
                  >Location Description</label
                ><input
                  type="text"
                  class="form-control"
                  id="locationDescription"
                  placeholder="e.g. River North, Downtown"
                  formControlName="description"
                />
              </div>
              <div class="d-grid">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="loadingRegisterSensor"
                >
                  <ng-container *ngIf="!loadingRegisterSensor; else loadingTpl"
                    >Register Sensor</ng-container
                  >
                  <ng-template #loadingTpl>
                    <i class="fas fa-spinner fa-spin text-white"></i>
                    Registering...
                  </ng-template>
                </button>
              </div>
              <!-- <div *ngIf="transactionResult" class="mt-3">
                <div *ngIf="transactionResult.transactionHash; else errorTpl">
                  <strong>Transaction Hash:</strong>
                  <a
                    [href]="getTxUrl(transactionResult.transactionHash)"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ transactionResult.transactionHash }}
                  </a>
                  <br />
                  <small>Height: {{ transactionResult.height }}</small>
                  <br />
                  <small>Gas Used: {{ transactionResult.gasUsed }}</small>
                </div>
                <ng-template #errorTpl>
                  <div class="text-danger">
                    <strong>Error:</strong> {{ transactionError }}
                  </div>
                </ng-template>
              </div> -->
            </form>
            <form *ngIf="mode === 'submit' && selectedSensor">
              <div class="mb-3">
                <label class="form-label me-2">Sensor Type:</label>
                <span class="form-control-plaintext d-inline"
                  >{{ selectedSensor.type }}</span
                >
              </div>
              <div class="mb-3">
                <label class="form-label me-2">Sensor Model:</label>
                <span class="form-control-plaintext d-inline"
                  >{{ selectedSensor.model }}</span
                >
              </div>
              <div class="mb-3">
                <label class="form-label me-2">Location:</label>
                <span class="form-control-plaintext d-inline">
                  Lat: {{ selectedSensor.location.lat }}, Lng: {{
                  selectedSensor.location.lng }}
                </span>
              </div>
              <div class="mb-3">
                <label for="sensorValue" class="form-label">Sensor Value</label
                ><input
                  type="text"
                  class="form-control"
                  id="sensorValue"
                  required=""
                />
              </div>
              <div class="d-grid">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="loadingSubmitData"
                >
                  <ng-container *ngIf="!loadingSubmitData; else loadingSubTpl"
                    >Submit&nbsp;Sensor&nbsp;Data</ng-container
                  >
                  <ng-template #loadingSubTpl>
                    <i class="fas fa-spinner fa-spin text-white"></i>
                    Submitting...
                  </ng-template>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Recommended Sensors</h5>
          </div>
          <div class="card-body">
            <div class="list-group"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
